@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gxvf3i');
  src:  url('fonts/icomoon.eot?gxvf3i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gxvf3i') format('truetype'),
    url('fonts/icomoon.woff?gxvf3i') format('woff'),
    url('fonts/icomoon.svg?gxvf3i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-not_started:before {
  content: "\e9d7";
}
.icon-not_mastered:before {
  content: "\e9d8";
}
.icon-mastered:before {
  content: "\e9d9";
}
